@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500&display=swap");

section.sec {
  padding: 100px 0px;
  position: relative;
}

.team-small-screen {
  display: none;
}

.sm-title {
}
.title,
.title h3 {
  font-size: 22px;
  color: #2b4d7a;
  font-weight: 700;
  line-height: 1.2em;
}
.sm-title h3 {
  margin-bottom: 20px;
}
.title,
.title h3 {
  font-size: 22px;
  color: #2b4d7a;
  font-weight: 700;
  line-height: 1.2em;
}
.owl-nav .owl-prev,
.owl-nav .owl-next {
  top: 40%;
  position: absolute;
  border-radius: 40px !important;
  color: #ffffff;
  width: 40px;
  height: 40px;
  text-align: center;
}
.owl-nav .owl-prev {
  left: -5%;
}
.owl-nav .owl-next {
  right: -5%;
}
#staff .owl-nav .owl-prev i,
.owl-nav .owl-next i {
  color: #fff;
  font-size: 20px;
  position: relative;
  left: 0px;
}
.box-b {
  /* background-color: #000000; */
  padding: 15px;
  transition: 0.2s all ease-in-out;
  border-radius: 4px;
  /* cursor: pointer; */
  /* border-bottom: solid 2px #2699cf; */
  height: auto;
  position: relative;
}
.box-b .box-img {
  margin-bottom: 15px;
}

.staff {
  position: relative;
}

.staff .staff-desc {
  position: absolute;
  bottom: 5%;
  left: 30%;
  width: 70%;
}

.staff .sunil{
  /* bottom: 0%; */
}

.staff .staff-social {
  margin: 0 0 10% 0%;
}

.staff .advisor {
  margin: 0 0 0% 60%;
  width: 100%;
}

.staff .staff-social img {
  width: 20%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.staff .advisor img {
  width: 15%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  -moz-transition: 0.3s;
  transition: 0.3s;
}

.staff .staff-social img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.staff .advisor img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.staff .staff-social a {
  margin-right: -6%;
}

.staff .staff-desc h3 {
  color: #f7cf6c;
  font-size: 12px;
  text-align: left;
  margin: 0;
  font-family: "Oxanium", cursive;
  font-weight: 500;
}

.staff .staff-desc p {
  color: #aadaff;
  text-align: left;
  margin-top: -2px;
  padding-top: -2px;
  font-size: 10px;
  font-weight: 300;
  font-family: "Oxanium", cursive;
  text-transform: capitalize;
}


.staff .box-img img {
  /* height: 145px; */
  width: 80%;
  margin: auto;
  /* border-radius: 90px; */
}
.box-b h3 {
  text-align: center;
  margin-bottom: 5px;
  font-size: 22px;
  color: #000000;
}
.box-b p {
  line-height: 1.4;
  font-size: 18px;
  color: #343a40;
  text-align: center;
  margin-bottom: 0px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #d6d6d6 !important;
}

.owl-theme .owl-dots .owl-dot span {
  background: #869791 !important;
}

/* MEDIUM DEVICE */

@media (max-width: 961px) {
}

/* IPAD, TABLETS */

@media (max-width: 641px) {
}

/* MOBILE DEVICE */

@media (max-width: 450px) {
}
